In [1]:
#importing all the required modules
import pandas as pd
import numpy as np
import networkx as nx
from tqdm import tqdm
import warnings
from statistics import median

import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')

# Finding Top 10 Batsmen

In [2]:
#Reading the csv file containing all the centrality records of batsmen
df = pd.read_csv("Batsman_Centrality.csv")
df.head()

     Batsman  degree_centrality Team
0  RG Sharma           8.194059   MI
1  Q de Kock          14.015289   MI
2   SA Yadav          14.884539   MI
3  SS Tiwary           3.281718   MI
4  HH Pandya           7.944504   MI

In [3]:
#Sorting batsmen on the values of their centrality
import os
os.remove("Result.csv")
top_df = df.sort_values(by = 'degree_centrality', ascending = False)
top_df.head(10).to_csv("Result.csv",mode='a')
top_df.head(10)

           Batsman  degree_centrality  Team
44        KL Rahul          21.806547  PBKS
29        S Dhawan          18.195312    DC
97       DA Warner          16.707815   SRH
11    Ishan Kishan          15.388797    MI
2         SA Yadav          14.884539    MI
31         SS Iyer          14.746961    DC
83         V Kohli          14.658388   RCB
85  AB de Villiers          14.532882   RCB
45      MA Agarwal          14.170759  PBKS
1        Q de Kock          14.015289    MI

# Finding Top 10 Bowlers

In [4]:
#Reading the csv file containing all the centrality records of batsmen
df_bowler = pd.read_csv("Bowler_Centrality.csv")
df_bowler.head()

        Bowlers  degree_centrality Team
0      TA Boult            7.51816   MI
1  JL Pattinson            2.39570   MI
2     JJ Bumrah           10.69104   MI
3     KH Pandya            1.21710   MI
4     RD Chahar            3.82596   MI

In [5]:
#Sorting bowlers on the values of their centrality
top_bowler_df = df_bowler.sort_values(by = 'degree_centrality', ascending = False)
top_bowler_df.head(10).to_csv("Result.csv",mode='a')
top_bowler_df.head(10)

           Bowlers  degree_centrality  Team
23        K Rabada           13.20256    DC
2        JJ Bumrah           10.69104    MI
88       JC Archer            9.20812    RR
21        A Nortje            8.55534    DC
63       YS Chahal            8.42148   RCB
49        CV Varun            8.40256   KKR
0         TA Boult            7.51816    MI
71  Sandeep Sharma            7.16812   SRH
35  Mohammed Shami            6.81422  PBKS
75     Rashid Khan            6.58620   SRH

# Ranking top 10 teams of IPL 2020

In [6]:
#Name of the Teams playing
arr=df['Team'].unique()
arr

array(['MI', 'CSK', 'DC', 'PBKS', 'KKR', 'RCB', 'SRH', 'RR'], dtype=object)

In [7]:
#Using different centralities of each team to find overall teams centrality and determine its rank
adj=pd.DataFrame(np.zeros((8,6)),index=arr,columns=['Batsman Degree Centrality', 'Bowlers Degree Centrality','Total Degree centrality', 'Batsman Average Degree Centrality', 'Bowlers Average Degree Centrality', 'Teams Centrality'])
for b in range(0,8):
    df_batsman=df[df['Team']==arr[b]]
    df_bowlers = df_bowler[df_bowler['Team']==arr[b]]
    adj.loc[arr[b], 'Batsman Degree Centrality'] = df_batsman['degree_centrality'].sum()
    adj.loc[arr[b], 'Bowlers Degree Centrality'] = df_bowlers['degree_centrality'].sum()
    adj.loc[arr[b], 'Total Degree centrality'] = adj.loc[arr[b], 'Batsman Degree Centrality'] + adj.loc[arr[b], 'Bowlers Degree Centrality']
    adj.loc[arr[b], 'Batsman Average Degree Centrality'] = adj.loc[arr[b], 'Batsman Degree Centrality']/(np.count_nonzero(df_batsman['degree_centrality'], axis=0))
    adj.loc[arr[b], 'Bowlers Average Degree Centrality'] = adj.loc[arr[b], 'Bowlers Degree Centrality']/(np.count_nonzero(df_bowlers['degree_centrality'], axis=0))
    adj.loc[arr[b], 'Teams Centrality'] = adj.loc[arr[b], 'Batsman Average Degree Centrality'] + adj.loc[arr[b], 'Bowlers Average Degree Centrality']
adj

,Batsman Degree Centrality,Bowlers Degree Centrality,Total Degree centrality,Batsman Average Degree Centrality,Bowlers Average Degree Centrality,Teams Centrality
MI,78.605686,28.34114,106.946826,6.046591,3.542643,9.589234
CSK,63.687809,25.29436,88.982169,4.549129,2.299487,6.848616
DC,77.256989,37.21262,114.469609,5.150466,4.134736,9.285201
PBKS,74.053448,21.00216,95.055608,4.356085,2.333573,6.689659
KKR,67.608153,21.09164,88.699793,3.976950,2.343516,6.320466
RCB,66.701707,25.36260,92.064307,4.168857,2.305691,6.474548
SRH,75.963337,28.84236,104.805697,5.064222,2.403530,7.467752
RR,70.690715,23.21706,93.907775,4.158277,2.579673,6.737951

In [8]:
adj1 = adj.sort_values(by=['Teams Centrality'], ascending=False)
adj1.to_csv("Result.csv",mode='a')
adj1

,Batsman Degree Centrality,Bowlers Degree Centrality,Total Degree centrality,Batsman Average Degree Centrality,Bowlers Average Degree Centrality,Teams Centrality
MI,78.605686,28.34114,106.946826,6.046591,3.542643,9.589234
DC,77.256989,37.21262,114.469609,5.150466,4.134736,9.285201
SRH,75.963337,28.84236,104.805697,5.064222,2.403530,7.467752
CSK,63.687809,25.29436,88.982169,4.549129,2.299487,6.848616
RR,70.690715,23.21706,93.907775,4.158277,2.579673,6.737951
PBKS,74.053448,21.00216,95.055608,4.356085,2.333573,6.689659
RCB,66.701707,25.36260,92.064307,4.168857,2.305691,6.474548
KKR,67.608153,21.09164,88.699793,3.976950,2.343516,6.320466

# Accuracy of SNA Batsmen Ranking with actual IPL Batsmen Ranking

In [49]:
bat_sna_res=top_df['Batsman'].head(10).values
print("Our SNA Ranking of Batsmen: ",bat_sna_res)
print()

bat_ipl_res=np.array(['KL Rahul','S Dhawan','DA Warner','SS Iyer','Ishan Kishan',
 'Q de Kock','SA Yadav','D Padikkal','V Kohli','AB de Villiers'])
print("IPL Ranking of Batsmen: ",bat_ipl_res)
print()

sum=0
n=len(bat_sna_res)
for i in range(n):    
    ind=np.where(bat_ipl_res==bat_sna_res[i])     
    if len(ind[0])==0:
        diff=n
    else:
        if(i>=ind[0][0]):
            diff=i-ind[0][0]
        else:
            diff=ind[0][0]-i
    sum=sum+(n-diff)*(n-i)    
ideal=0
for i in range(n): 
    ideal=ideal+n*(n-i)    
acc=sum/ideal;
print("Accuracy of Batsmen Ranking: ",acc*100,"%")

Our SNA Ranking of Batsmen:  ['KL Rahul' 'S Dhawan' 'DA Warner' 'Ishan Kishan' 'SA Yadav' 'SS Iyer'
 'V Kohli' 'AB de Villiers' 'MA Agarwal' 'Q de Kock']

IPL Ranking of Batsmen:  ['KL Rahul' 'S Dhawan' 'DA Warner' 'SS Iyer' 'Ishan Kishan' 'Q de Kock'
 'SA Yadav' 'D Padikkal' 'V Kohli' 'AB de Villiers']

Accuracy of Batsmen Ranking:  87.81818181818181 %

# Accuracy of SNA Bowlers Ranking with actual IPL Bowlers Ranking

In [54]:
bowl_sna_res=top_bowler_df['Bowlers'].head(10).values
print("Our SNA Ranking of Bowlers: ",bowl_sna_res)
print()

bowl_ipl_res=np.array(['K Rabada','JC Archer','JJ Bumrah','Mohammed Shami','YS Chahal',
                      'TA Boult','Rashid Khan','A Nortje','RD Chahar','SM Curran'])
print("IPL Ranking of Bowlers: ",bowl_ipl_res)
print()

sum=0
n=len(bowl_sna_res)
for i in range(n):    
    ind=np.where(bowl_ipl_res==bowl_sna_res[i])     
    if len(ind[0])==0:
        diff=n
    else:
        if(i>=ind[0][0]):
            diff=i-ind[0][0]
        else:
            diff=ind[0][0]-i
    sum=sum+(n-diff)*(n-i)
ideal=0
for i in range(n): 
    ideal=ideal+n*(n-i)    
acc=sum/ideal;
print("Accuracy of Bowlers Ranking: ",acc*100,"%")

Our SNA Ranking of Bowlers:  ['K Rabada' 'JJ Bumrah' 'JC Archer' 'A Nortje' 'YS Chahal' 'CV Varun'
 'TA Boult' 'Sandeep Sharma' 'Mohammed Shami' 'Rashid Khan']

IPL Ranking of Bowlers:  ['K Rabada' 'JC Archer' 'JJ Bumrah' 'Mohammed Shami' 'YS Chahal'
 'TA Boult' 'Rashid Khan' 'A Nortje' 'RD Chahar' 'SM Curran']

Accuracy of Bowlers Ranking:  74.18181818181819 %

# Accuracy of SNA Team Ranking with actual IPL Team Ranking

In [56]:
sna_res=adj1.index.values
print("Our SNA Ranking of Teams: ",sna_res)
print()

ipl_res=np.array(['MI','DC','SRH','RCB','KKR','PBKS','CSK','RR'])
print("IPL Ranking of Teams: ",ipl_res)
print()

sum=0
n=len(sna_res)
for i in range(n):    
    ind=np.where(ipl_res==sna_res[i])    
    if(i>=ind[0][0]):
        diff=i-ind[0][0]
    else:
        diff=ind[0][0]-i
    sum=sum+(n-diff)*(n-i)
    #print(sna_res[i],": ",n-diff)
ideal=0
for i in range(n): 
    ideal=ideal+n*(n-i)    
acc=sum/ideal;
print("Accuracy of Team Ranking: ",acc*100,"%")

Our SNA Ranking of Teams:  ['MI' 'DC' 'SRH' 'CSK' 'RR' 'PBKS' 'RCB' 'KKR']

IPL Ranking of Teams:  ['MI' 'DC' 'SRH' 'RCB' 'KKR' 'PBKS' 'CSK' 'RR']

Accuracy of Team Ranking:  87.5 %